BASEPATH=/kratos-ui

# Internal
KRATOS_INTERNAL_URL=http://kratos-public:80
KRATOS_ADMIN_URL=http://kratos-admin:80/admin
HYDRA_ADMIN_URL=http://hydra-admin:4445/admin
HYDRA_PUBLIC_URL=http://hydra-public:4444

RSA_BACKEND_URL=https://radar-rest-sources-backend:8080/rest-sources/backend
RSA_FRONTEND_URL=https://radar-rest-sources-authorizer:8080/rest-sources/authorizer

NEXT_PUBLIC_HYDRA_PUBLIC_URL=
NEXT_PUBLIC_ARMT_REDIRECT_URI=
NEXT_PUBLIC_SEP_REDIRECT_URI=
NEXT_PUBLIC_BASEPATH=

SEP_CLIENT_ID="SEP"
SEP_CLIENT_SECRET="secret"
ARMT_CLIENT_ID="aRMT"
ARMT_CLIENT_SECRET=
